body {
  margin: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.text_logo {
  color: #E3B873;
}

.text_intro {
  font-size: 22px;
  line-height: 36px;
  margin-top: 19px;
}

.text_projects {
  font-size: 14px;
  line-height: 27px;
  margin-top: 34px;
}

.text_control {
  text-align: center;
  margin-top: 98.5px;
  color: #363636;
  font-size: 18px;
  line-height: 37px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_control::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 1.54px;
  top: -34.46px;
  background-color: #E3B873;
}

.text_advantages {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 39px;
}

.text_save {
  font-size: 18px;
  line-height: 26px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  color: #E3B873;
  margin-left: 25px;
}

.text_clients {
  font-size: 18px;
  line-height: 29px;
  color: #363636;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.text_review {
  font-size: 13px;
  line-height: 23px;
  color: #959595;
}

.text_review:first-of-type {
  margin-bottom: 10px;
}

.title {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.title_intro {
  color: #fff;
  font-size: 40px;
  line-height: 53px;
}

.title_projects {
  color: #E3B873;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

.title_projects-details {
  font-size: 18px;
  color: #E3B873;
  line-height: 25px;
}

.title_carousel {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.title_carousel_active {
  color: #E3B873;
  position: relative;
}

.title_carousel_active::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E3B873;
  left: 0;
  bottom: -6.68px;
  position: absolute;
}

.title_type-description {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  text-transform: initial;
}

.title_styles {
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
}

.title_name {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  text-transform: initial;
}

.title_questions {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title_address {
  font-size: 20px;
  line-height: 28px;
  color: #E3B873;
  margin-top: 52px;
  margin-bottom: 26px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
}

.subtitle_control {
  color: #fff;
}

.brand-color {
  color: #E3B873;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 47px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__link_active, .nav__link:hover {
  color: #E3B873;
}

.callus-block__link {
  color: #E3B873;
  margin-right: 45px;
}

.header {
  background-color: #131313;
  padding: 24px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.button {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
}

.button_callus {
  padding: 13px 33px;
}

.button_intro {
  width: 207px;
  padding: 19px 0;
  border: 1px solid #E3B873;
  margin-right: 20px;
}

.button_transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button_control {
  font-size: 13px;
  line-height: 27px;
  width: 200px;
}

.button_advantages {
  font-style: normal;
  width: 213px;
  height: 51px;
  font-size: 13px;
  line-height: 21px;
  display: block;
}

.button_questions {
  font-size: 13px;
  line-height: 27px;
  width: 200px;
  height: 51px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: initial;
}

.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.intro {
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro-content {
  z-index: 999;
  position: relative;
  padding: 194px 0 208px 134px;
}

.intro__button-group {
  margin-top: 41px;
}

.projects {
  background-color: #131313;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 107px 134px 415px;
}

.projects__info {
  width: 40%;
  margin-top: 62.36px;
  position: relative;
}

.projects__details {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-top: 42px;
  grid-row-gap: 34px;
  grid-column-gap: 19px;
}

.projects__slider-control {
  position: absolute;
  bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 205.68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__carousel {
  margin-left: 30px;
  width: calc(60% - 50px);
}

.projects__carousel-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.projects__carousel-image {
  margin-top: 45.36px;
}

.pointer {
  width: 9.57px;
  height: 9.57px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.pointer_active {
  background-color: #fff;
}

.pointer-group {
  width: 63.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.pointer:hover {
  background-color: #fff;
}

.arrow {
  background-image: url("../img/arrow.svg");
  width: 41.46px;
  height: 13.28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow_right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.control {
  margin-top: -325px;
}

.control-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control__video {
  margin-top: 32.21px;
  position: relative;
}

.control__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.control__video::after {
  content: '';
  position: absolute;
  top: 174px;
  left: 365px;
  background-image: url("../img/play-button.svg");
  background-color: transparent;
  background-position: center;
  background-position-y: -25px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.icon {
  width: 32.77px;
  height: 28px;
  margin-top: 13px;
  position: relative;
}

.icon::before {
  content: '';
  position: absolute;
  height: 1.54px;
  width: 32px;
  top: 13.23px;
  left: -40px;
  background-color: #E3B873;
}

.icon::after {
  content: '';
  position: absolute;
  height: 1.54px;
  width: 32px;
  top: 13.23px;
  left: 40px;
  background-color: #E3B873;
}

.form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 91.5px;
  width: 769px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_control input {
  width: 231px;
}

.form_control input::-webkit-input-placeholder {
  color: #000;
}

.form_control input:-ms-input-placeholder {
  color: #000;
}

.form_control input::-ms-input-placeholder {
  color: #000;
}

.form_control input::placeholder {
  color: #000;
}

.form__input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding: 0 0 8px 0;
  font-size: 14px;
  line-height: 23px;
}

.form__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input-wrap_questions {
  width: 231px;
}

.form__input:focus {
  outline: none;
}

.form__input_white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form__label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.form__label_white {
  color: rgba(255, 255, 255, 0.5);
}

.form_advantages {
  background-color: #131313;
  padding: 28px 49px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.form_advantages .form__input {
  width: 408px;
  background-color: #131313;
}

.form_advantages .form__input::-webkit-input-placeholder {
  color: #fff;
}

.form_advantages .form__input:-ms-input-placeholder {
  color: #fff;
}

.form_advantages .form__input::-ms-input-placeholder {
  color: #fff;
}

.form_advantages .form__input::placeholder {
  color: #fff;
}

.form_advantages .form__input-wrap:nth-child(-n + 3) {
  margin-bottom: 48px;
}

.form__checkbox {
  width: auto;
}

.form__checkbox-label {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 163.68%;
}

.form__checkbox-wrap {
  margin-top: 16px;
}

.form__checkbox-wrap_questions {
  margin-top: 46.5px;
  margin-bottom: 50.5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__button-wrap {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form_questions {
  padding: 34.5px 181.5px;
  background-color: #181818;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -234.5px;
}

.form_questions-wrap {
  width: 520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_questions .form__input {
  background-color: #181818;
}

.form_questions .form__input::-webkit-input-placeholder {
  color: #fff;
}

.form_questions .form__input:-ms-input-placeholder {
  color: #fff;
}

.form_questions .form__input::-ms-input-placeholder {
  color: #fff;
}

.form_questions .form__input::placeholder {
  color: #fff;
}

.form__firstrow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 49px;
}

.types {
  margin-top: 148px;
}

.types-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  width: 1236px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.horizontal-list__description {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.horizontal-list__description_types {
  margin: -127px auto 0;
  width: 85%;
  padding: 25px 34px;
}

.horizontal-list__description_clients {
  padding-top: 24px;
  padding-left: 20px;
  width: 376px;
  padding-bottom: 67px;
}

.horizontal-list__description-list {
  color: #959595;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  line-height: 27px;
  padding-left: 12px;
  margin: 13px 0 23px;
}

.horizontal-list__description-list li {
  position: relative;
}

.horizontal-list__description-list li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -10px;
  top: 10px;
  background-color: #959595;
  border-radius: 50%;
}

.horizontal-list__additional {
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  color: #fff;
  background-color: #E3B873;
  position: absolute;
  left: 0;
  bottom: -27px;
}

.horizontal-list__additional_types {
  width: 228px;
  padding: 17px 0;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.horizontal-list__additional_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  height: 53px;
  padding: 11px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 24px;
  position: absolute;
}

.horizontal-list__additional_clients img {
  margin-right: 15px;
}

.horizontal-list__additional_clients p:first-of-type {
  margin-right: 31px;
  position: relative;
}

.horizontal-list__additional_clients p:first-of-type::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #fff;
  height: 53px;
  right: -14px;
  top: -15px;
}

.horizontal-list__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.horizontal-list__profile img {
  margin-right: 23px;
}

.advantages {
  margin-top: 257px;
  background-image: url("../img/advantages.png");
  background-repeat: no-repeat;
}

.advantages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__list {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  padding: 0;
}

.advantages__list li {
  margin-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__bullet {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  background-color: #E3B873;
  margin-right: 15px;
}

.advantages__save-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  margin-left: 33px;
}

.styles {
  height: 864px;
  background-image: url("../img/styles.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 242px;
  position: relative;
}

.styles-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: relative;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.styles__list {
  width: 411px;
  margin-top: 137.5px;
}

.styles__style-list {
  list-style: none;
  padding: 0;
  font-size: 20px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

.styles__style-list li {
  margin-bottom: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.styles__style_active {
  color: #E3B873;
  position: relative;
}

.styles__style_active::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #E3B873;
  bottom: 0;
  left: 0;
  width: 100%;
}

.styles__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.styles__gallery div:first-child {
  margin-top: -40px;
}

.styles__gallery div:nth-last-child(1) {
  margin-top: -112px;
}

.styles__gallery > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 43px;
}

.styles__gallery > * * {
  margin-bottom: 40px;
}

.clients {
  margin-top: 110.5px;
  padding-bottom: 382px;
  background-image: url("../img/clients.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  background-image: url("../img/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-content {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 66px;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 43px;
}
/*# sourceMappingURL=styles.css.map */