$maincolor: #E3B873;
$font-nunito: 'Nunito Sans', sans-serif;
$font-yeseva: 'Yeseva One', cursive;

body {
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

button {
    padding: 0;
    &:focus {
        outline: none;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.text {
    font-family: $font-nunito;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    margin: 0;
    &-intro {
        font-size: 22px;
        line-height: 36px;
        margin-top: 19px;
    }
    &-projects {
        font-size: 14px;
        line-height: 27px;
        margin-top: 34px;
    }
    &-control {
        text-align: center;
        margin-top: 98.5px;
        color: #363636;
        font-size: 18px;
        line-height: 37px;
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
            content: '';
            position: absolute;
            width: 55px;
            height: 1.54px;
            top: -34.46px;
            background-color: $maincolor;
        }
    }
}

.title {
    font-family: $font-yeseva;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    &-intro {
        color: #fff;
        font-size: 40px;
        line-height: 53px;
    }
    &-projects {
        color: $maincolor;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        &-details {
            font-size: 18px;
            color: $maincolor;
            line-height: 25px;
        }
    }
    &-carousel {
        border: none;
        background-color: transparent;
        color: rgba($color: #fff, $alpha: 0.3);
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
        &-active {
            color: $maincolor;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $maincolor;
                left: 0;
                bottom: -6.68px;
                position: absolute;
            }
        }
    }
    &-sub {
        font-size: 20px;
        line-height: 28px;
    }
    &-control {
        color: #fff;
    }
    &-description {
        color: #000;
        font-size: 18px;
        line-height: 25px;
        text-transform: initial;
    }
}

.brand-color {
    color: $maincolor;
}

.header {
    background-color: #131313;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    &-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
    }
    &-logo {
        color: $maincolor;
    }
    &-nav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        &__element {
            margin-left: 47px;
        }
        &__link {
            text-decoration: none;
            color: #fff;
            &_active, &:hover {
                color: $maincolor;
            }
        }
    }
    &-phone {
        &__link {
            color: $maincolor;
            margin-right: 45px;
        }
    }
}

.button {
    background: $maincolor;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    cursor: pointer;
    font-size: 11px;
    font-family: $font-nunito;
    &-call {
        padding: 13px 33px;
    }
    &-intro {
        width: 207px;
        padding: 19px 0;
        border: 1px solid $maincolor;
        margin-right: 20px;
    }
    &-transparent {
        background-color: rgba($color: #000000, $alpha: 0);
        border: 1px solid #fff;
        box-shadow: none;
    }
    &-control {
        font-size: 13px;
        line-height: 27px;
        width: 200px;
    }
}

.intro {
    background-image: url("../img/intro.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    &-content {
        z-index: 999;
        position: relative;
        padding: 194px 0 208px 134px;
    }
    &-dimmed {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
    &-button_group {
        margin-top: 41px;
    }
}

.projects {
    background-color: #131313;
    &-content {
        display: flex;
        padding: 107px 134px 415px;
    }
    &-info {
        width: 40%;
        margin-top: 62.36px;
        position: relative;
        &-details {
            width: fit-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-top: 42px;
            grid-row-gap: 34px;
            grid-column-gap: 19px;
        }
        &-button_group {
            position: absolute;
            bottom: 2px;
            display: flex;
            width: 205.68px;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-carousel {
        margin-left: 30px;
        width: calc(60% - 50px);
        &-elements {
            display: flex;
            width: 95%;
            justify-content: space-between;
            list-style: none;
            padding: 0;
        }
        &-image {
            margin-top: 45.36px;
        }
    }
}

.pointer {
    width: 9.57px;
    height: 9.57px;
    border-radius: 50%;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0.3);
    cursor: pointer;
    &_active {
        background-color: #fff;
    }
    &_group {
        width: 63.78px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &:hover {
        background-color: #fff;
    }
}

.arrow {
    background-image: url('../img/arrow.svg');
    width: 41.46px;
    height: 13.28px;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    &-right {
        transform: rotate(180deg);
    }
}

.control {
    margin-top: -325px;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__video {
            margin-top: 32.21px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba($color: #000000, $alpha: 0.8);
            }
            &::after {
                content: '';
                position: absolute;
                top: 174px;
                left: 365px;
                background-image: url("../img/play_button.svg");
                background-color: transparent;
                background-position: center;
                background-position-y: -25px;
                border-radius: 50%;
                // background-size: cover;
                width: 85px;
                height: 85px;
                cursor: pointer;
            }
        }
    }
}

.icon {
    width: 32.77px;
    height: 28px;
    margin-top: 13px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        height: 1.54px;
        width: 32px;
        top: 13.23px;
        left: -40px;
        background-color: $maincolor;
    }
    &::after {
        content: '';
        position: absolute;
        height: 1.54px;
        width: 32px;
        top: 13.23px;
        left: 40px;
        background-color: $maincolor;
    }
}

.form {
    &-control {
        display: flex;
        margin-top: 91.5px;
        width: 769px;
        justify-content: space-between;
        input {
            width: 231px;
            &::placeholder {
                color: #000;
            }
        }
    }
    &-input {
        border: none;
        border-bottom: 1px solid rgba($color: #363636, $alpha: 0.3);
        padding: 0 0 8px 0;
        font-size: 14px;
        line-height: 23px;
        &_wrap {
            display: flex;
            flex-direction: column;
        }
        &:focus {
            outline: none;
        }
    }
    &-label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(54, 54, 54, 0.5);
    }
}

.types {
    margin-top: 148px;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-list {
        display: flex;
        margin-top: 31px;
        width: 1236px;
        justify-content: space-between;
        &__element {
            &_description {
                position: relative;
                background-color: #fff;
                margin: -127px auto 0;
                width: 85%;
                padding: 25px 34px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
                &_list {
                    color: #959595;
                    font-family: $font-nunito;
                    font-size: 13px;
                    line-height: 27px;
                    list-style: none;
                    padding-left: 12px;
                    margin: 13px 0 23px;
                    li {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            left: -10px;
                            top: 10px;
                            background-color: #959595;
                            border-radius: 50%;
                        }
                    }
                }
                &_price {
                    font-family: $font-yeseva;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #fff;
                    width: 228px;
                    padding: 17px 0;
                    text-align: center;
                    background-color: $maincolor;
                    position: absolute;
                    left: 0;
                    bottom: -27px;
                }
            }
        }
    }
}