body {
  margin: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
}

button:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.text-intro {
  font-size: 22px;
  line-height: 36px;
  margin-top: 19px;
}

.text-projects {
  font-size: 14px;
  line-height: 27px;
  margin-top: 34px;
}

.text-control {
  text-align: center;
  margin-top: 98.5px;
  color: #363636;
  font-size: 18px;
  line-height: 37px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-control::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 1.54px;
  top: -34.46px;
  background-color: #E3B873;
}

.title {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.title-intro {
  color: #fff;
  font-size: 40px;
  line-height: 53px;
}

.title-projects {
  color: #E3B873;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

.title-projects-details {
  font-size: 18px;
  color: #E3B873;
  line-height: 25px;
}

.title-carousel {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.title-carousel-active {
  color: #E3B873;
  position: relative;
}

.title-carousel-active::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E3B873;
  left: 0;
  bottom: -6.68px;
  position: absolute;
}

.title-sub {
  font-size: 20px;
  line-height: 28px;
}

.title-control {
  color: #fff;
}

.title-description {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  text-transform: initial;
}

.brand-color {
  color: #E3B873;
}

.header {
  background-color: #131313;
  padding: 24px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.header-logo {
  color: #E3B873;
}

.header-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-nav__element {
  margin-left: 47px;
}

.header-nav__link {
  text-decoration: none;
  color: #fff;
}

.header-nav__link_active, .header-nav__link:hover {
  color: #E3B873;
}

.header-phone__link {
  color: #E3B873;
  margin-right: 45px;
}

.button {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
}

.button-call {
  padding: 13px 33px;
}

.button-intro {
  width: 207px;
  padding: 19px 0;
  border: 1px solid #E3B873;
  margin-right: 20px;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-control {
  font-size: 13px;
  line-height: 27px;
  width: 200px;
}

.intro {
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro-content {
  z-index: 999;
  position: relative;
  padding: 194px 0 208px 134px;
}

.intro-dimmed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.intro-button_group {
  margin-top: 41px;
}

.projects {
  background-color: #131313;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 107px 134px 415px;
}

.projects-info {
  width: 40%;
  margin-top: 62.36px;
  position: relative;
}

.projects-info-details {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-top: 42px;
  grid-row-gap: 34px;
  grid-column-gap: 19px;
}

.projects-info-button_group {
  position: absolute;
  bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 205.68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-carousel {
  margin-left: 30px;
  width: calc(60% - 50px);
}

.projects-carousel-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.projects-carousel-image {
  margin-top: 45.36px;
}

.pointer {
  width: 9.57px;
  height: 9.57px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.pointer_active {
  background-color: #fff;
}

.pointer_group {
  width: 63.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pointer:hover {
  background-color: #fff;
}

.arrow {
  background-image: url("../img/arrow.svg");
  width: 41.46px;
  height: 13.28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.control {
  margin-top: -325px;
}

.control-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-content__video {
  margin-top: 32.21px;
  position: relative;
}

.control-content__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.control-content__video::after {
  content: '';
  position: absolute;
  top: 174px;
  left: 365px;
  background-image: url("../img/play_button.svg");
  background-color: transparent;
  background-position: center;
  background-position-y: -25px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.icon {
  width: 32.77px;
  height: 28px;
  margin-top: 13px;
  position: relative;
}

.icon::before {
  content: '';
  position: absolute;
  height: 1.54px;
  width: 32px;
  top: 13.23px;
  left: -40px;
  background-color: #E3B873;
}

.icon::after {
  content: '';
  position: absolute;
  height: 1.54px;
  width: 32px;
  top: 13.23px;
  left: 40px;
  background-color: #E3B873;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 91.5px;
  width: 769px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-control input {
  width: 231px;
}

.form-control input::-webkit-input-placeholder {
  color: #000;
}

.form-control input:-ms-input-placeholder {
  color: #000;
}

.form-control input::-ms-input-placeholder {
  color: #000;
}

.form-control input::placeholder {
  color: #000;
}

.form-input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding: 0 0 8px 0;
  font-size: 14px;
  line-height: 23px;
}

.form-input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input:focus {
  outline: none;
}

.form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.types {
  margin-top: 148px;
}

.types-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  width: 1236px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types-list__element_description {
  position: relative;
  background-color: #fff;
  margin: -127px auto 0;
  width: 85%;
  padding: 25px 34px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-list__element_description_list {
  color: #959595;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  line-height: 27px;
  list-style: none;
  padding-left: 12px;
  margin: 13px 0 23px;
}

.types-list__element_description_list li {
  position: relative;
}

.types-list__element_description_list li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -10px;
  top: 10px;
  background-color: #959595;
  border-radius: 50%;
}

.types-list__element_description_price {
  font-family: "Yeseva One", cursive;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  width: 228px;
  padding: 17px 0;
  text-align: center;
  background-color: #E3B873;
  position: absolute;
  left: 0;
  bottom: -27px;
}
/*# sourceMappingURL=styles.css.map */