$maincolor: #E3B873;
$font-nunito: 'Nunito Sans', sans-serif;
$font-yeseva: 'Yeseva One', cursive;

body {
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

button {
    padding: 0;
    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.text {
    font-family: $font-nunito;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    margin: 0;
    &_logo {
        color: $maincolor;
    }
    &_intro {
        font-size: 22px;
        line-height: 36px;
        margin-top: 19px;
    }
    &_projects {
        font-size: 14px;
        line-height: 27px;
        margin-top: 34px;
    }
    &_control {
        text-align: center;
        margin-top: 98.5px;
        color: #363636;
        font-size: 18px;
        line-height: 37px;
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
            content: '';
            position: absolute;
            width: 55px;
            height: 1.54px;
            top: -34.46px;
            background-color: $maincolor;
        }
    }
    &_advantages {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 39px;
    }
    &_save {
        font-size: 18px;
        line-height: 26px;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
        color: $maincolor;
        margin-left: 25px;
    }
}

.title {
    font-family: $font-yeseva;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    &_intro {
        color: #fff;
        font-size: 40px;
        line-height: 53px;
    }
    &_projects {
        color: $maincolor;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        &-details {
            font-size: 18px;
            color: $maincolor;
            line-height: 25px;
        }
    }
    &_carousel {
        border: none;
        background-color: transparent;
        color: rgba($color: #fff, $alpha: 0.3);
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
        &_active {
            color: $maincolor;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $maincolor;
                left: 0;
                bottom: -6.68px;
                position: absolute;
            }
        }
    }
    &_type-description {
        color: #000;
        font-size: 18px;
        line-height: 25px;
        text-transform: initial;
    }
    &_styles {
        font-size: 27px;
        line-height: 37px;
        color: $maincolor;
    }
}

.subtitle {
    font-size: 20px;
    line-height: 28px;
    &_control {
        color: #fff;
    }
}

.brand-color {
    color: $maincolor;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    &__item {
        margin-left: 47px;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        &_active, &:hover {
            color: $maincolor;
        }
    }
}

.callus-block {
    &__link {
        color: $maincolor;
        margin-right: 45px;
    }
}

.header {
    background-color: #131313;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    &-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
    }
}

.button {
    background: $maincolor;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    cursor: pointer;
    font-size: 11px;
    font-family: $font-nunito;
    &_callus {
        padding: 13px 33px;
    }
    &_intro {
        width: 207px;
        padding: 19px 0;
        border: 1px solid $maincolor;
        margin-right: 20px;
    }
    &_transparent {
        background-color: rgba($color: #000000, $alpha: 0);
        border: 1px solid #fff;
        box-shadow: none;
    }
    &_control {
        font-size: 13px;
        line-height: 27px;
        width: 200px;
    }
    &_advantages {
        font-style: normal;
        width: 213px;
        height: 51px;
        
        font-size: 13px;
        line-height: 21px;
        display: block;
    }
}

.dimmed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.intro {
    background-image: url("../img/intro.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    &-content {
        z-index: 999;
        position: relative;
        padding: 194px 0 208px 134px;
    }
    &__button-group {
        margin-top: 41px;
    }
}

.projects {
    background-color: #131313;
    &-content {
        display: flex;
        padding: 107px 134px 415px;
    }
    &__info {
        width: 40%;
        margin-top: 62.36px;
        position: relative;
    }
    &__details {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 42px;
        grid-row-gap: 34px;
        grid-column-gap: 19px;
    }
    &__slider-control {
        position: absolute;
        bottom: 2px;
        display: flex;
        width: 205.68px;
        justify-content: space-between;
        align-items: center;
    }
    &__carousel {
        margin-left: 30px;
        width: calc(60% - 50px);
    }
    &__carousel-elements {
        display: flex;
        width: 95%;
        justify-content: space-between;
        padding: 0;
    }
    &__carousel-image {
        margin-top: 45.36px;
    }
}

.pointer {
    width: 9.57px;
    height: 9.57px;
    border-radius: 50%;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0.3);
    cursor: pointer;
    &_active {
        background-color: #fff;
    }
    &-group {
        width: 63.78px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    &:hover {
        background-color: #fff;
    }
}

.arrow {
    background-image: url('../img/arrow.svg');
    width: 41.46px;
    height: 13.28px;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    &_right {
        transform: rotate(180deg);
    }
}

.control {
    margin-top: -325px;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__video {
        margin-top: 32.21px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
        }
        &::after {
            content: '';
            position: absolute;
            top: 174px;
            left: 365px;
            background-image: url("../img/play-button.svg");
            background-color: transparent;
            background-position: center;
            background-position-y: -25px;
            border-radius: 50%;
            // background-size: cover;
            width: 85px;
            height: 85px;
            cursor: pointer;
        }
    }
}

.icon {
    width: 32.77px;
    height: 28px;
    margin-top: 13px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        height: 1.54px;
        width: 32px;
        top: 13.23px;
        left: -40px;
        background-color: $maincolor;
    }
    &::after {
        content: '';
        position: absolute;
        height: 1.54px;
        width: 32px;
        top: 13.23px;
        left: 40px;
        background-color: $maincolor;
    }
}

.form {
    &_control {
        display: flex;
        margin-top: 91.5px;
        width: 769px;
        justify-content: space-between;
        input {
            width: 231px;
            &::placeholder {
                color: #000;
            }
        }
    }
    &__input {
        border: none;
        border-bottom: 1px solid rgba($color: #363636, $alpha: 0.3);
        padding: 0 0 8px 0;
        font-size: 14px;
        line-height: 23px;
        &-wrap {
            display: flex;
            flex-direction: column;
        }
        &:focus {
            outline: none;
        }
        &_white {
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
        }
    }
    &__label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(54, 54, 54, 0.5);
        &_white {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    &_advantages {
        background-color: #131313;
        padding: 28px 49px;
        height: fit-content;
        .form__input {
            width: 408px;
            background-color: #131313;
            &::placeholder {
                color: #fff;
            }
        }
        .form__input-wrap:nth-child(-n + 3) {
            margin-bottom: 48px;
        }
    }
    &__checkbox {
        width: auto;
        &-label {
            color: #fff;
            font-family: $font-nunito;
            font-size: 14px;
            line-height: 163.68%;
        }
        &-wrap {
            margin-top: 16px;
        }
    }
    &__button-wrap {
        margin-top: 39px;
        display: flex;
        justify-content: flex-end;
    }
}

.types {
    margin-top: 148px;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        display: flex;
        margin-top: 31px;
        width: 1236px;
        justify-content: space-between;
    }
    &__description {
        position: relative;
        background-color: #fff;
        margin: -127px auto 0;
        width: 85%;
        padding: 25px 34px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    }
    &__description-list {
        color: #959595;
        font-family: $font-nunito;
        font-size: 13px;
        line-height: 27px;
        padding-left: 12px;
        margin: 13px 0 23px;
        li {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                left: -10px;
                top: 10px;
                background-color: #959595;
                border-radius: 50%;
            }
        }
    }
    &__price {
        font-family: $font-yeseva;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #fff;
        width: 228px;
        padding: 17px 0;
        text-align: center;
        background-color: $maincolor;
        position: absolute;
        left: 0;
        bottom: -27px;
    }
}

.advantages {
    margin-top: 257px; 
    background-image: url('../img/advantages.png');
    background-repeat: no-repeat;
    &-content {
        display: flex;
    }
    &__list {
        margin-left: 249px;
        font-family: $font-nunito;
        font-size: 14px;
        line-height: 19px;
        color: #363636;
        padding: 0;
        li {
            margin-bottom: 102px;
            display: flex;
            align-items: center;
        }
    }
    &__bullet {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        box-sizing: content-box;
        width: 42px;
        height: 42px;
        line-height: 42px;
        border-radius: 50%;
        border: 8px solid #fff;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        background-color: $maincolor;
        margin-right: 15px;
    }
    &__form-wrap {
        margin-left: 206px;
    }
    &__save-wrap {
        display: flex;
        align-items: center;
        margin-top: 38px;
        margin-left: 33px;
    }
}

.styles {
    height: 864px;
    background-image: url('../img/styles.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 242px;
    position: relative;
    &-content {
        display: flex;
        z-index: 999;
        position: relative;
        padding: 0 100px;
        justify-content: space-between;
    }
    &__list {
        width: 411px;
        margin-top: 137.5px;
    }
    &__style {
        &-list {
        list-style: none;
        padding: 0;
        font-size: 20px;
        color: #fff;
        font-family: $font-nunito;
            li {
                margin-bottom: 25px;
                width: fit-content;
                cursor: pointer;
            }
        }
        &_active {
            color: $maincolor;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $maincolor;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    &__gallery {
        display: flex;
        div {
            &:first-child {
                margin-top: -40px;
            }
            &:nth-last-child(1) {
                margin-top: -112px;
            }
        }
        >* {
            display: flex;
            flex-direction: column;
            margin-left: 43px;
            * {
                margin-bottom: 40px;
            }
        }
    }
}